*{
    margin: 0;
}

.bloco{
    width: 90px;
    height: 200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container{
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    
}